<%= content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="col-sm-9">
  <div class="row jumbotron">

  <center>
  <h1>Global Statistics</h1>
    <p>Analysis on the entire database across all users.</p>
  </center>

    
    <div class="col-sm-4">
      <%= pie_chart({"R&B" => 10, "Pop" => 5},
                    height:"200px", 
                    width: "100%", 
                    donut: "true") %>
    </div>
    <div class="col-sm-4">
      <%= line_chart({"Jan" => 10, "March" => 23, "July" => 123, "August" => 215, "October" => 34},
                    height:"200px", 
                    width: "100%") %>
    </div>
    <div class="col-sm-4">
      <%= column_chart({"Jan" => 10, "March" => 23, "July" => 123, "August" => 215, "October" => 34},
                      height:"200px", 
                      width: "100%") %>
    </div>
  </div>
  <div class="row">


     <div class="col-sm-5">

      <h3>Top Albums</h3>
      <ul>
        <% @top_n_albums_overall.each do |album| %>
  <p><%=album['album_name']%></p>
<% end %>
      </ul>
    </div>


    <div class="col-sm-5">
      <h3>Top Artists</h3>
      <ul>
        <% @top_n_artists_overall.each do |artist| %>
  <p><%=artist['name']%></p>
<% end %>
      </ul>
    </div>

    <div class="col-sm-5">
      <h3>Top Songs</h3>
      <% @top_n_tracks_overall.each do |track| %>
  <p><%=track['song_name']%></p>
 
<% end %>
    </div>

     <div class="col-sm-5">
      <h3>Top Playlists</h3>
      <% @top_n_playlists_overall.each do |playlist| %>
  <p><%=playlist['playlist_name']%></p>
<% end %>
    </div>
  </div>
 
</div>
