<%= content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="col-sm-9">
  <div class="row jumbotron">
  <center>
  <h1>Here's What We Know About All of Our Users</h1>
  </center>

     <div class="col-sm-5">

      <h3>Top Albums</h3>
      <ul>
        <% @top_n_albums_overall.each do |album| %>
  <p><%=album['album_name']%></p>
<% end %>
      </ul>
    </div>


    <div class="col-sm-5">
      <h3>Top Artists</h3>
      <ul>
        <% @top_n_artists_overall.each do |artist| %>
  <p><%=artist['name']%></p>
<% end %>
      </ul>
    </div>

    <div class="col-sm-5">
      <h3>Top Songs</h3>
      <% @top_n_tracks_overall.each do |track| %>
  <p><%=track['song_name']%></p>
 
<% end %>
    </div>

     <div class="col-sm-5">
      <h3>Top Playlists</h3>
      <% @top_n_playlists_overall.each do |playlist| %>
  <p><%=playlist['playlist_name']%></p>
<% end %>
    </div>
  </div>
 
</div>
