
<head>

</head>
<body>

<%= bootstrap_form_tag url: '/globaldata' do |f| %>
  <%= f.form_group :num, label: { text: "Number of Query Results" } do %>
    <%= f.radio_button :num, 1, label: "1"%>
    <%= f.radio_button :num, 3, label: "3", checked: true  %>
    <%= f.radio_button :num, 5, label: "5" %>
<% end %>

<%= f.form_group :attr, label: { text: "Song Attributes" } do %>
    <%= f.check_box :popularity, checked: true %>
  <%= f.check_box :acousticness, checked: true %>
  <%= f.check_box :danceability, checked: true %>
  <%= f.check_box :instrumentalness,  checked: true %>
  <%= f.check_box :energy, checked: true %>
  <%= f.check_box :liveness, checked: true %>
  <%= f.check_box :loudness, checked: true %>
  <%= f.check_box :speechiness,  checked: true %>
  <%= f.check_box :tempo, checked: true %>
  <%= f.check_box :time_signature, checked: true %>
  <%= f.check_box :valence, checked: true %>

<% end %>




  <%= f.submit %>
<% end %>

</body>
