<%= content_for(:sidebar) do %>
<%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="row col-sm-9">
  <div class = "row">
    <%= bootstrap_form_tag url: '/preferences_submitted', :html => { :method => 'get' } do |f| %>
    <h2><%= f.form_group :num, label: { text: "Number of Query Results" } do %></h2>
    <%= f.radio_button :num, 1, label: "1"%>
    <%= f.radio_button :num, 3, label: "3", checked: true  %>
    <%= f.radio_button :num, 5, label: "5" %>
    <% end %>
  </div>


    <div class="row">
    <h2><%= f.form_group :rec, label: { text: "Recommend Me Songs Based on the Following Attribute:" } do %></h2>
      <%= f.radio_button :popularity, "Acousticness", label: "Acousticness", checked: true, inline:true %>
      <%= f.radio_button :danceability, "Danceability", label: "Danceability", inline:true %>
      <%= f.radio_button :instrumentalness, "Instrumentalness", label: "Instrumentalness", inline:true %>
      <%= f.radio_button :energy, "Energy", label: "Energy", inline:true %>
      <%= f.radio_button :liveness, "Liveness", label: "Liveness", inline:true %>
      <%= f.radio_button :loudness, "Loudness", label: "Loudness", inline:true %>
      <%= f.radio_button :speechiness, "Speechiness", label: "Speechiness", inline:true %>
      <%= f.radio_button :tempo, "Tempo", label: "Tempo", inline:true %>
      <%= f.radio_button :valence, "Valence", label: "Valence", inline:true %>

    <% end %>
  </div>

  <div class="row">
    <%= f.submit %>
    <% end %>
  </div>
</div>

