<%= content_for(:sidebar) do %>
<%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="row col-sm-9">
  <div class = "row">
    <%= bootstrap_form_tag url: '/preferences_submitted', :html => { :method => 'get' } do |f| %>
    <h2><%= f.form_group :num, label: { text: "Number of Query Results" } do %></h2>
    <%= f.radio_button :num, 1, label: "1"%>
    <%= f.radio_button :num, 3, label: "3", checked: true  %>
    <%= f.radio_button :num, 5, label: "5" %>
    <% end %>
  </div>
  <div class="row">
    <h2><%= f.form_group :attr, label: { text: "Song Attributes" } do %></h2>
    <%= f.check_box :popularity, checked: true %>
    <%= f.check_box :acousticness, checked: true %>
    <%= f.check_box :danceability, checked: true %>
    <%= f.check_box :instrumentalness,  checked: true %>
    <%= f.check_box :energy, checked: true %>
    <%= f.check_box :liveness, checked: true %>
    <%= f.check_box :loudness, checked: true %>
    <%= f.check_box :speechiness,  checked: true %>
    <%= f.check_box :tempo, checked: true %>
    <%= f.check_box :time_signature, checked: true %>
    <%= f.check_box :valence, checked: true %>
    <% end %>
  </div>
  <div class="row">
    <%= f.submit %>
    <% end %>
  </div>
</div>

