<%= content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>



<div class="col-sm-9">
  <div class="jumbotron">
    <div class="row">
      <div class = "col-sm-7">
      <center>
        <h2>Your Song Attributes</h2>
      </center>
      <%= column_chart({"Danceability" => @danceability_user*100, "Popularity" => @popularity_user, "Acousticness" => @acousticness_user*100, "Instrumentalness"=>@instrumentalness_user*100,"Energy" =>@energy_user*100,"Liveness"=>@liveness_user*100,"Loudness"=>(@loudness_user+60)/60*100,"Tempo"=>@tempo_user},
        height:"250px", width: "100%", colors: ["#1DC465"]) %>
    </div>
    <div class="col-sm-5">
      <h2>Suggested songs</h2>
      <% @top_n_songs_recs.each do |song| %>
        <p>&ldquo;<%=song['song_name']%>&rdquo; by <%=song['name']%></p>
      <% end %>
      <p class= "jumbo-p">*based on <%=$rec%></p>
    </div>
  </div>
    </div>

  <div class="row">
  <div class="col-sm-4">
      <h3>Most Similar Users Based On Saved Songs</h3>
      <ul>
        <% @top_n_users.each do |user| %>
          <li><%=user['name']%></li>
        <% end %>
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>Users Whose Playlists You Follow The Most</h3>
      <ul>
        <% @top_n_users_1.each do |user| %>
  <p><%=user['name']%></p>
<% end %>
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>Users Who Follow Your Playlists The Most</h3>
      <ul>
        <% @top_n_users_2.each do |user| %>
  <p><%=user['name']%></p>
<% end %>
      </ul>
    </div>
    </div>
<div class="row">
    <center><h2>Other Data:</h2></center>

    
    <div class="col-sm-6">
      <h3>Your Top Albums</h3>
      <ul>
        <% @top_n_albums.each do |album| %>
          <p><%=album['album_name']%> - <%=album['artist_id']%></p>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-6">
      <h3>Your Top Artists</h3>
      <ul>
        <% @top_n_artists.each do |artist| %>
          <p><%=artist['name']%></p>
        <% end %>
      </ul>
    </div>    
  </div>
</div>



    

</div>

  