<%= content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="col-sm-9">
  <div class="row jumbotron">
    <h1>Hello, <%=$spotify_user.name%> </h1>
    <div class="col-sm-4">
      <%= pie_chart({"R&B" => 10, "Pop" => 5},
                    height:"200px", 
                    width: "100%", 
                    donut: "true") %>
    </div>
    <div class="col-sm-4">
      <%= line_chart({"Jan" => 10, "March" => 23, "July" => 123, "August" => 215, "October" => 34},
                    height:"200px", 
                    width: "100%") %>
    </div>
    <div class="col-sm-4">
      <%= column_chart({"Jan" => 10, "March" => 23, "July" => 123, "August" => 215, "October" => 34},
                      height:"200px", 
                      width: "100%") %>
    </div>
  </div>
  </div>