
<div class="col-sm-3 sidebar">

	<h1> <%=image_tag("MusaicLogo.png",width:"90%")%> </h1>
	<ul class="nav nav-sidebar">
		<li><%= link_to "Home", "/userinfo", {:class => "link hover-black" } %></li>
		<li><%= link_to "User Data", '/userdata', {:class => "link hover-black" } %></li>
		<li><%= link_to "Global Data", '/databasedata', {:class => "link hover-black" } %></li>
		<li><%= link_to "Preferences", "/preferences", {:class => "link hover-black" } %>
	</ul>
</div>
