<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<%= render "layouts/shim" %>
  </head>

  <body class="<% controller_name %> <%= action_name %>">
  	<div class="container-fluid">
  		<div class="row">
  			<%= yield :sidebar %>
  			<%= yield %>
  		</div>
  	</div>
  	<%= yield :footer %>
    <%= yield %>
  </body>
</html>
